{% include "index.html" %}

{% block about %}
<section class="timeline">



  <div class="container">
    <div class="row">
      <h1 style="text-align: center;font-size: 1.8em;">Professional Experience</h1>
      <div class="timeline-item">

        <div class="timeline-content js--fadeInLeft">

          <div class="date">Nov 2023<span></span> - <span></span>Apr 2024</div>
          <div>
            <h2><span><i class="fa-solid fa-user-graduate"> </i> </span>Nakoa Technologies</h2>
            <p>
            <h3 class="course-title">Python Developer Intern</h3>
            <h3 class="course-duriation">6-months</h3>
            <p>Contributed to Python and Django web projects,
              enhancing business processes and system functionalities
              during internship. Collaborated with senior developers to
              design and implement custom web pages , gaining
              valuable hands-on experience.</p>
            </p>
          </div>

        </div>
      </div>
    </div>
    <div>

      <h1 style="text-align: center;font-size: 1.8em;">Education Details</h1>


      <div class="main-card">
        <div class="divide">
          <div class="date">2022-2024</div>
          <div class="edu-details">
            <h2><span><i class="fa-solid fa-user-graduate"> </i> </span>Post Graduation</h2>
            <p>
            <h3 class="course-title">M.Sc Information Technology</h3>
            <h3 class="course-mark">78.6%</h3>
            </p>
          </div>

        </div>




        <div class="divide">

          <div class="date">2017-2018</div>
          <div class="edu-details">
            <h2><span><i class="fa-solid fa-user-graduate"> </i> </span>Under Graduation</h2>
            <p>
            <h3 class="course-title">B.Sc Multimedia and Web Technology</h3>
            <h3 class="course-mark">76.5%</h3>
            </p>
          </div>
        </div>
      </div>
    </div>



  </div>
  </div>
  <div class="row">
    <h1 style="text-align: center;font-size: 1.8em;">Skills</h1>
    <div>
      <div class="python">
        <img src="#" alt="" />

      </div>

    </div>

  </div>

  </div>
  <div>


</section>
{% endblock %} {% block footer %}{% endblock %}