<!-- Contact Start -->
<section class="contact" id="contact">
  <div class="container">
    <div class="heading">
      <h2>Contact</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
    </div>

    <div class="content grid-container">
      <div class="contactInfo">
        <h3>Contact Info</h3>
        <div class="contactInfoBx">
          <div class="box">
            <div class="icon">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="text">
              <h3>Address</h3>
              <p>
                4671 Sugar Camp Road,
                <br />
                Owatonna, Minnesota,
                <br />
                55060
              </p>
            </div>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="text">
              <h3>Phone</h3>
              <p>507-475-6094</p>
            </div>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="text">
              <h3>Email</h3>
              <p>aashishmaharjan2001@gmail.com</p>
            </div>
          </div>
        </div>
      </div>

      <div class="formBx">
        <form>
          <h3>Message Me</h3>
          <input type="text" placeholder="Full Name" />
          <input type="email" placeholder="Email" />
          <textarea placeholder="Your Message"></textarea>
          <input type="submit" value="Send" class="btn" />
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Contact End -->