{% include "index.html" %}

{% block header %}
<!-- Header Start -->
<header>
  <div class="container">
    <!-- Logo -->
    <a href="#home" class="logo">Bk</a>

    <!-- Toggle Button -->
    <span class="toggle" onclick="toggleMenu()"></span>

    <!-- Nav Items -->
    <nav class="menu" onclick="toggleMenu()">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#work">Work</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
</header>
<!-- Header End -->
{% endblock %}